@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #edeef2;
}

body {
  text-align: center;
  align-items: center;
}

h1,
h2 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

h1 {
  padding-top: 4%;
  font-size: 3em;
}

h2 {
  padding-bottom: 8%;
  margin-top: 2%;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #0025d9;
}

h4 {
  font-weight: bold;
}

a {
  color: blue;
}

pre {
  text-align: justify;
}

button {
  border-radius: 30px;
  background: #0025d9 !important;
  padding: 1%;
  color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  min-width: 25%;
}

img {
  min-width: 70%;
}

.header {
  border-bottom-right-radius: 35% 30%;
  border-bottom-left-radius: 35% 30%;
  background-color: #0025d9;
}

.digimon-card {
  border-color: black;
  margin: 3%;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  align-items: center;
  border-width: 1px;
  border-style: solid;
}

.card-list {
  /* Atributos para deixar a lista de cards alinhada e responsiva */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

a.card-link {
  min-width: 25%;
}

.card-content {
  display: flex;
  justify-content: center;
}

.card-content-bottom {
  display: flex;
  justify-content: center;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-description {
  text-align: justify;
}

.header-search {
  margin-top: -4.5%;
  display: flex;
  justify-content: center;
}

.input-search {
  width: 30em;
  border-radius: 30px;
  height: 2.2em;
  margin-bottom: 2%;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0025d9;
  border-color: #0025d9 transparent #0025d9 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
