@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #edeef2;
}

body {
  text-align: center;
  align-items: center;
}

h1,
h2 {
  font-weight: bold;
  text-shadow: 2px 2px #f9f9f9;
}

h1 {
  margin-top: 5%;
  font-size: 2em;
}

h2 {
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 1.3em;
}

a {
  color: blue;
}

pre {
  text-align: justify;
}
