@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  align-items: center;
}

h1,
h2 {
  font-weight: bold;
}

a {
  color: blue;
}
