@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #edeef2;
}

body {
  text-align: center;
  align-items: center;
}

h1,
h2 {
  font-weight: bold;
  text-shadow: 2px 2px #f9f9f9;
}

h1 {
  margin-top: 5%;
  font-size: 2em;
}

h2 {
  margin-bottom: 3%;
  margin-top: 5%;
  font-size: 1.5em;
}

a {
  color: blue;
}

pre {
  text-align: justify;
}

button {
  border-radius: 30px;
  background: #0025d9 !important;
  padding: 1%;
  color: white;
  margin-top: 1%;
  margin-bottom: 2%;
  min-width: 25%;
}

.digimon-card {
  border-color: black;
  margin: 3%;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  align-items: center;
  border-width: 1px;
  border-style: solid;
}

.card-list {
  /* Atributos para deixar a lista de cards alinhada e responsiva */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

a.card-link {
  min-width: 30%;
}

.header-search {
  display: flex;
  justify-content: center;
}

.input-search {
  width: 30em;
  border-radius: 30px;
  height: 2.2em;
  margin-bottom: 2%;
  text-align: center;
}
